* {
  text-align: center;
  padding: 5px;
  margin: 0;
}
.heading {
  color: red;
  padding: 10px 10px 0 10px;
  font-size: 30px;
}
.veg {
  color: blue;
}
.veg-head {
  color: brown;
  /* padding: 5px; */
  font-size: 40px;
}
.items-list {
  /* display: flex;
  gap: 20px;
  padding: 20px;
  length: 20px;
  height: 50px;
  background-color: black; */
  /* padding: 5px; */
  color: black;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

@media (max-width: 768px) {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
}
